nvim/
zsh/.histfile
zsh/.zcompdump
.DS_Store
aacs/
backup/
broot/
flutter/
fontforge/
gh/
i3/
lazydocker/
lazygit/
micro/
nvim.bak-2/
nvim.bak-rust/
nvim.bak/
pgcli/
ranger/
tool_state
zellij/
startpage/


zsh/.zsh_sessions
zsh/.zsh_history
zsh/.zsh_history
starship.toml.powerline.bak